:root {
  --bg-color: #f0edf1;
  --text-color: #555;

  --light-color: #ffffff;
  --dark-color: #cbced1;
  --darker-color: #a7aaaf;

  --white-color: #ffffff;
  --pink-color: #aa1178;
  --violet-color: #7008a4;

  --transition-some: background 0.3s, box-shadow 0.4s;
  --transition-all: all 0.4s;
}

.dark {
  --bg-color: #34393e;
  --text-color: #d3d3d4;

  --light-color: #41484e;
  --dark-color: #2e3236;
  --darker-color: #1c1f22;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-weight: bold;
  color: #333;
}
.container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-color);
}

.card {
  width: 28rem;
  height: 43rem;
  padding: 4rem 3rem;
  border-radius: 2rem;
  background: var(--bg-color);
  /* card Neumorphism  */
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.card-logo {
  background: url('img/logo.png');
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-size: cover;
  margin: 0 auto;
  /* Logo Neumorphism  */
  box-shadow: 0 0 2px #5f5f5f, 0 0 0 5px #f0edf1, 8px 8px 15px #a7aaaf,
    -8px -8px 15px #fff;
}

.card-title {
  text-align: center;
  font-size: 1.8rem;
  padding-top: 1.4rem;
  letter-spacing: 0.5px;
}
.card-subtitle {
  text-align: center;
  font-size: 0.9rem;
  padding-top: 0.5rem;
  letter-spacing: 2px;
  opacity: 0.75;
}

.card-form .fields {
  width: 100%;
  padding: 75px 5px 5px 5px;
}
.card-form .fields input {
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  color: #333;
  padding: 20px 10px 20px 5px;
}
.username,
.password {
  margin-bottom: 2rem;
  border-radius: 25px;
  /* Input Neumorphism  */
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.card-form .fields svg {
  height: 22px;
  margin: 0 10px -3px 25px;
}

.btn {
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 3.6rem;
  border-radius: 30px;
  font-size: 1.4rem;
  font-weight: 700;
  font-family: sans-serif;
  color: #fff;
  text-align: center;
  background: #141314;
  background: linear-gradient(to right bottom, #141314, #757575);
  transition: all 0.5s;

  /* Button Neumorphism  */
  box-shadow: 5px 5px 10px #b1b1b1, -5px -5px 10px #fff;
}
.btn:hover {
  background: #242022;
  background: linear-gradient(to right bottom, #242022, #777677);
  /* Button:hover Neumorphism  */
  box-shadow: 0 0 25px 5px rgba(39, 38, 39, 0.4);
}
.btn:active {
  background: #242022;
  background: linear-gradient(to right bottom, #242022, #777677);
  /* Button:active Neumorphism  */
  box-shadow: 0 0 25px 5px rgba(73, 71, 75, 0.4);
}
.card .link {
  padding-top: 30px;
  text-align: center;
}
.card .link a {
  text-decoration: none;
  color: #aaa;
  font-size: 15px;
}

.toggle {
  position: fixed;
  top: 30px;
  left: 30px;

  width: 150px;
  height: 70px;
  border-radius: 50px;
  border: 0.1px solid var(--light-color);
  background-color: var(--bg-color);
  box-shadow: inset 10px 10px 15px var(--darker-color),
    inset -10px -10px 15px var(--light-color);
}

.toggle label {
  width: 70px;
  height: 70px;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
.toggle-icon {
  background-image: url('img/sun.svg');
  width: 50px;
  height: 50px;
  margin: 10px;
  display: inline-block;
  border-radius: 100px;
  pointer-events: none;
  position: relative;
  transition: var(--transition-all);

  box-shadow: 
    /* offset */ 0px 0px 0px 3px var(--bg-color),
    /*bottom right */ 4px 4px 7px var(--darker-color),
    /* top left */ -4px -4px 7px var(--light-color);
}

.toggle-icon .icon {
  position: absolute;
  top: 0;
  left: 0;
  transition: var(--transition-all);
}

.toggle-icon .moon {
  opacity: 0;
}

.toggle input {
  opacity: 0.3;
  width: 150px;
  height: 70px;
  opacity: 0;
  cursor: pointer;
}

.toggle input:checked + label .toggle-icon {
  transform: translateX(80px) rotate(360deg);
}

.toggle input:checked + label .icon.moon {
  opacity: 1;
}
.toggle input:checked + label .icon.sun {
  opacity: 0;
}
